<div class = "logoBanner-backgroundDiv">
  <%= render :partial => "shared/banner" %>
</div>

<div class = "form">
  <%= form_for(:task, url: "/users/#{params[:id]}/to_dos/#{@task[0].id}/edit", method: "patch") do |f|%>
  <%= f.text_area :note, :value => @task[0][:note], :class => "editNoteTextArea robotoMono formInput" %>
  <%= f.hidden_field(:user, :value => session[:user_id]) %>
  <%= f.hidden_field(:id, :value => @task[0][:id]) %>
  <%= f.submit("Edit note", class: "button") %>
  <%end%>
</div>
